.q-user-info{
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
}

.question-card{
    padding: 20px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 20px;
    margin-top: 20px;
}

.user-avatar{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 20000px;
}

.answer-card{
    background: #eee;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 15px;
}

@media(min-width: 726px) {
    .user-avatar{
        width: 40px;
        height: 40px;
    }
}