nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul{
    display: flex;
    list-style-type: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100vh;
    max-width: 100vw;
    min-width: 100vw;
    position: fixed;
    top: 0vh;
background: rgba( 0, 0, 0, 0.55 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 9px );
-webkit-backdrop-filter: blur( 9px );
border-radius: 10px;
    z-index: 100000;
    transition: 0.5s;
}

nav a{
    color: inherit;
    text-decoration: none;
    margin: 10px;
}

.hamburger{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 45px;
    height: 30px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    cursor: pointer;
}

.hamburger:hover{
    background: black;
}

.bar-1{
    margin-top: 0 !important;
}
.hamburger > div{
    width: 80%;
    background: rgb(233 233 233);
    height: 1px;
    margin-top: 5px;
}

@media (min-width:726px){
    nav ul{
        position: relative;
        height: 100%;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        max-width: 50%;
        min-width: 50%;
        flex-direction: row;
        font-size: 1em;
        background: none;
        left: 0;
        box-shadow: none;
    }

    nav ul li a{
        font-size: 1.2em !important;
    }

    nav ul h2{
        display: none;
    }

    nav .hamburger{
        display: none;
    }
}

.ul-active, .ul-active > a{
    color: #009abb !important;
}

.ul-fill{
    color: white;
    background-color: #009abb;
    padding: 5px;
    border-radius: 5px;
}

.ul-fill a{
    color: white;
}

nav h2{
    display: inline;
}

nav ul h2{
    position: absolute;
    top: 0;
    right: 40px;
    cursor: pointer;
    color: white;
}

nav ul li a{
    text-decoration: none;
    font-size: 1.8em;
}



/************ footer ************/
 footer{
    background: #262626;
    color: white;
    max-width: 100vw;
    padding: 40px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
}
footer a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
footer a:hover{
    text-decoration: none;
    color: white;
}
.footer-nav ul{
    display: flex;
    flex-direction: column;
    color: white;
}
footer ul li{
    list-style: none;
    margin-bottom: 10px;
}

.footer-social ul{
    display: flex;
    flex-direction: column;
    color: white;
    padding-left: 10px;
}
.footer-ns{
    font-size: 1.3em;
}

footer h3{
    font-size: 1.5em;
}

.footer-ns span{
    font-size: 18px;
}
.footer-brand p {
    color:rgba(255,255,255,0.70);
    font-size: 1.2em;
}

@media (min-width: 768px) {
footer{
    padding: 8vh;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}
.col-md-8{
    display: inline;
}

} 

label{
    display: block;
    margin: 10px 0px;
    opacity: 0.8;
    margin-top: 25px;
}

form{
    position: relative;
    padding-top: 20px;
}

.bg-grey{
    background-color: rgb(250, 250, 250);
}

.idk{
    display: flex;
}

.loader{
    margin-top: 15px;
    margin-bottom: 15px;
}

.idk div, .content-box{
    background: #eee;
}

.circle{
    width: 30px;
    height: 30px;
    border-radius: 10000px;
}
.title{
    width: 70%;
    height: 25px;
    border-radius: 5px;
    margin-left: 10px;
}
.content-box{
    width: 100%;
    height: 100px;
    border-radius: 15px;
    margin-top: 15px;
}